@import 'vars';

@mixin form-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 55px 112px;

  width: 580px;
  min-height: 541px;
  left: 672px;
  top: 239px;

  background: #FFFFFF;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

@mixin change-type {
  margin-top: 33px;
  display: flex;

  &__title, &__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }

  &__title {
    color: #828282;
  }

  &__link {
    margin-left: 6px;
    text-decoration: none;
    color: $orange;

    &:hover {
      color: $orange;
      text-decoration: underline;
    }

    &:active {
      color: $active-orange;
    }
  }
}

@mixin map-container {
  .map {
    overflow: hidden;
    max-height: 100%;

    .header {
      padding: 0 50px;
    }

    &__img {
      width: 100%;
    }
  }
}
