$orange: #FDBF5A;
$logo-color: #FDBF5A;
$active-orange: #FFA842;
$mastercard-orange: #F79E1B;
$mastercard-red: #EB001B;

$grey: #828282;
$desc-grey: #7B7B7B;
$about-grey: #545454;
$nice-black: #1C1A19;
$black: #000;

$not-quite-white: #d9d4d4;
$nice-white: #D8D7D5;
$about-white: #E1E1E1;
$almost-white: #F1F1F1;
$white: #fff;

