@import '../../styles/mixins';

.authorization {
  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: $black;
  }

  &__form {
   @include form-box;
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-top: 57px;
  }

  .change-type {
    @include change-type;
  }
}
