@import '../../styles/mixins';

.authorization {
  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #000000;
  }

  &__form {
   @include form-box;
  }

  .form {
    display: flex;
    flex-direction: column;

    margin-top: 57px;

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #000000;

      &:not(:first-child) {
        margin-top: 25px;
      }
    }

    &__input {
      @include input;
    }
  }

  .change-type {
    @include change-type;
  }
}
